# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\U备份\talking\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
